@model PostOFSales.Models.Product

<div class="table__row">
    <img src="@Url.Content(@Model.Image)"/>
    <div class="table__row__productName">
        @Model.ProdutName
    </div>
    <div>
        @Model.ProductQuantity
    </div>
    <div>
        @Model.Description
    </div>
    <div>
        @Model.UnitPrice
    </div>
    <div>
        @Model.Color
    </div>
    <div>
        @Model.DateCreated
    </div>
    <div >

        <span><a href="#">Edir</a></span>
        <span><a href="#">Edir</a></span>
    </div>

</div>
